<h1>フォローリクエスト一覧</h1>
<% @follow_requests.each do |request| %>
  <p>
    <%= link_to user_path(request.follower) do %>
    <% if request.follower.profile_image.present? %>
                <%= attachment_image_tag request.follower, :profile_image, :fill, 50, 50, format: 'jpeg', style: 'border-radius: 50%' %>
              <% else %>
                <%= image_tag('default-image.jpg', width: 50, height: 50, style: 'border-radius: 50%') %>
              <% end %>
   <% end %>
    <%= request.follower.name %> さんからフォローリクエストが届いています。
    <%= link_to '承認', approve_request_path(request_id: request.id), method: :post %> |
    <%= link_to '拒否', reject_request_path(request_id: request.id), method: :delete %>
  </p>
<% end %>