<main>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <h2>User info</h2>
          <table class='table'>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
            <div class="d-flex">
     <%= link_to follows_user_path(@user) do %>
     <h6>フォロー<%= @following_users.count %></h6>
     <% end %>&nbsp;&nbsp;
     <%= link_to followers_user_path(@user) do %>
     <h6>フォロワー<%= @follower_users.count %></h6>
     <% end %>
   </div>
   
   <% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
  <% else %>
    <% if @user.private_account? %>
      <% if current_user.approved_follow_request?(@user) %>
        <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
      <% elsif current_user.pending_follow_request?(@user) %>
        <%= link_to 'リクエスト済み', '#', class: "btn-sm btn-secondary", disabled: true %>
      <% else %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class: "btn-sm btn-success" %>
      <% end %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class: "btn-sm btn-success" %>
    <% end %>
  <% end %>
<% end %>


   
          </tr>
          <tr>
            <th>name</th>
            <th>
              <%= @user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>
              <%= @user.introduction %>
            </th>
          </tr>
        </table>
        <div class='row'>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %> <i class="fas fa-user-cog"></i>
            <% end %>
        </div>
        <h2 class="mt-3">New Video</h2>
        <%= form_with model: @video, local:true do |f| %>
          <div class="form-group">
            <%= f.label :title, "Title" %>
              <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :youtube_url, "URL" %>
              <%= f.text_area :youtube_url, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :body, "Opinion" %>
              <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
          <% end %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Videos</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% if @user.private_account? && !current_user.approved_follow_request?(@user) && @user != current_user %>
            <!-- リクエストが承認されていない場合のメッセージ -->
            <td colspan="4">
            <p>このユーザーの投稿情報は非公開です。リクエストを申請してください。</p>
            </td>
            <% else %>
            <% @videos.each do |video| %>
            <tr>
            <td> <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= find_youtube_url(video.youtube_url) %>"
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe> </td>
            <td>
            <%= link_to video.title, video_path(video) %>
            </td>
            <td>
           <%= video.body %>
      </td>
    </tr>
  <% end %>
<% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>