<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <h2>User info</h2>
        <!-- モックのため、固定値になっている部分があります。アプリ完成前に修正しましょう。 -->
        <table class='table'>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %><!-- 固定値 -->
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>  <!-- 固定値 -->
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>  <!-- 固定値 -->
          </tr>
        </table>
        <div class='row'>
          <!-- 編集リンクが固定値 -->
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
        <h2 class="mt-3">New Video</h2>
        <!-- form_withを用いて新規投稿フォームを作成しましょう。 -->
        <%= form_with model: Video, local:true do |f| %>
          <div class="form-group">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
            
          <div class="form-group">
            <%= f.label :youtube_url, "URL" %>
            <%= f.text_area :youtube_url, class: "form-control" %>
          </div>
            
          <div class="form-group">
            <%= f.label :body, "Opinion" %>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Video detail</h2>
        <!-- 投稿したvideos一覧表示を作成しましょう。 -->
        <table class='table table-hover table-inverse'>
          <tbody>
            <tr>
              <td>
                <a>
                  <%= link_to user_path(@video.user) do %>
                    <% if @user.profile_image.present? %>
                      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "default-image.jpg" %>
                    <% else %>
                      <%= image_tag "default-image.jpg" %>
                    <% end %>
                  <% end %>
                </a>
                <br>
                <%= link_to @user.name, user_path(@user) %>
              </td>
              
              
              <td>
                <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= extract_youtube_id(@video.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </td>
              <td>
                <% if @video.favorited_by?(current_user) %>
                  <p>
                    <%= link_to video_favorites_path(@video), method: :delete do %>
                      ♥<%= @video.favorites.count %> いいね
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to video_favorites_path(@video), method: :post do %>
                      ♡<%= @video.favorites.count %> いいね
                    <% end %>
                  </p>
                <% end %>
              </td>
              
              
              <td>
                <% if @video.user == current_user %>
                  <%= link_to 'Edit', edit_video_path(@video), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
              
              <td>
                <% if @video.user == current_user %>
                  <%= link_to 'Destroy', video_path(@video), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class='row'>
          <div class="mb-3" style="margin-left: 150px;">
            <td>
                <%= link_to @video.title, video_path(@video) %>
              </td>
         </div>
         </div>
        <div class='row'>
          <div class="mb-5" style="margin-left: 150px;">
          <td>
                <%= @video.body %>
              </td>
              </div>
        </div>
        <div class='row'>
          <td>
            <p>コメント件数：<%= @video.post_comments.count %></p>
            </td>
            <div style="margin-left: 40px;" >
          <td>
            <%= form_with(model:[@video, @post_comment], local: true) do |f| %>
              <%= f.text_area :comment, rows:'2', cols: '50', placeholder: "コメントをここに" %>
              <%= f.submit "Comment" %>
            <% end %>
          </td>
          </div>
        </div>
             
        <% @video.post_comments.each do |post_comment| %>
  <div class="row">
    <%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "default-image.jpg" %>
    <%= post_comment.user.name %>
    <%= post_comment.comment %><%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <% if post_comment.user == current_user %>
      <div>
        <%= link_to "削除", video_post_comment_path(@video, post_comment), method: :delete %>
      </div>
    <% end %>
    <% if post_comment.favorited_by?(current_user) %>
      <p>
        <%= link_to video_post_comment_favorite_comments_path(@video, post_comment), method: :delete do %>
          ♥<%= post_comment.favorite_comments.count %> いいね
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to video_post_comment_favorite_comments_path(@video, post_comment), method: :post do %>
          ♡<%= post_comment.favorite_comments.count %> いいね
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

      </div>
    </div>
  </div>
</main>
